<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>De</key>
    <string>D_e.glif</string>
    <key>Dje</key>
    <string>D_je.glif</string>
    <key>Schwacyr</key>
    <string>S_chwacyr.glif</string>
    <key>be</key>
    <string>be.glif</string>
    <key>be.locl</key>
    <string>be.locl.glif</string>
    <key>breve.cyr</key>
    <string>breve.cyr.glif</string>
    <key>breve.cyr.case</key>
    <string>breve.cyr.case.glif</string>
    <key>de</key>
    <string>de.glif</string>
    <key>exclamdown</key>
    <string>exclamdown.glif</string>
    <key>f_f_i</key>
    <string>f_f_i.glif</string>
    <key>f_f_l</key>
    <string>f_f_l.glif</string>
    <key>ghe.bgr</key>
    <string>ghe.bgr.glif</string>
    <key>greaterequal</key>
    <string>greaterequal.glif</string>
    <key>guilsinglright</key>
    <string>guilsinglright.glif</string>
    <key>hyphentwo</key>
    <string>hyphentwo.glif</string>
    <key>ka</key>
    <string>ka.glif</string>
    <key>kadescender</key>
    <string>kadescender.glif</string>
    <key>lessequal</key>
    <string>lessequal.glif</string>
    <key>lira</key>
    <string>lira.glif</string>
    <key>periodcentered</key>
    <string>periodcentered.glif</string>
    <key>periodcentered.loclCAT</key>
    <string>periodcentered.loclC_A_T_.glif</string>
    <key>periodcentered.loclCAT.case</key>
    <string>periodcentered.loclC_A_T_.case.glif</string>
    <key>quotedblbase</key>
    <string>quotedblbase.glif</string>
    <key>quotesinglbase</key>
    <string>quotesinglbase.glif</string>
    <key>tenge</key>
    <string>tenge.glif</string>
  </dict>
</plist>
